.app-cont{
  background-color: #f0f0f0;
}

.all-about{
  text-align: center;
  background-color: inherit;
}
.all-projects{
  text-align: center;
}
.all-skills{
  text-align: center;
}

#app-bar{
  background-color: #091921;
}
.paralax{
  background-image: url('/parapic.jpeg');
  filter: grayscale(100%);
  min-height: 250px;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* .top-wavy{
  text-align: center;
  top: 100px;
}

.top-wavy .span-l {
  font-family: 'Poppins', sans-serif;
  font-size: 100px;
  color: white;
} */

.top {
  text-align: center;
  background-color: rgb(50, 55, 64);
  height: 100px;
}

.navbar {
  justify-content: space-around;
}

.navbar li> .active {
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50px, -50px);
  height: 55px;
  width: fit-content;
  padding-top: 6px;
  padding-bottom: 9px;
  border-radius: 25%;
  box-shadow: inset -1px -1px 3px rgba(255, 255, 255, 0.2),
              inset 2px 2px 6px rgba(0, 0, 0, 0.5);
}
.navbar li> .active .nav-btns{
  color: #0281e8;
  text-shadow: 0 0 2px #0281e8;
}

.navbar .nav-btns{
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  color: #babecc;
}

.nav-links{
  display: flex;
  justify-content: space-around;
}

.nav-links li{
  list-style: none;
  padding: 0px 4px;
}

.nav-links .nav-btns{
  border-radius: 25%;
  box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
              2px 2px 6px rgba(0, 0, 0, 0.8);
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}
@media screen and (min-width: 768px){
  /* #projects{
    height: 100vh;
  } */
  #contact{
    height: 100vh;
  }
  #skills{
    height: 100vh;
  }
  #blogs{
    height: 100vh;
  }
  #about{
    height: 100vh;
  }
  .acard:hover > #avatar-front{
    transform: perspective(600px) rotateY(-180deg);
  }
  .acard:hover > #avatar-back{
    transform: perspective(600px) rotateY(0deg);
  }
  .about-me-cont{
    padding-top: 72px;
  }
  .about-me-name{
    margin-top: 200px; 
    width: 45%;
  }
  .about-me-read{
    width: 45%;
    padding-top: 150px;
  }
}

@media screen and (max-width: 768px){
  body{
    background-color: #ebecf0;
    overflow-x: hidden;
  }
  .vl{
    display: none;
  }
  
  .top-wavy .span-l {
    font-size: 10vw; 
    color: white;
  }
  .top-para{
    min-height: 250px;
  }
  .about-me-cont{
    flex-direction: column;
  }
  .about-me-name{
    margin-top: 68px; 
    width: 90%;
  }
  .about-me-read{
    width: 90%;

  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #091921;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  #email-icon{
    color: #D44638;
  }
  #linkedin-icon{
    color: #0e76a8;
  }
  #resume{
    color: #ED2224;
  }
  #phone-icon{
    color: green;
  }
  #email-icon, #linkedin-icon, #github-icon, #phone-icon{
    box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  }
  .proj-cont{
    flex-direction: column;
    justify-content: center;
  }
  .code-link{
    background-color: #211F1F;
    color: #fff;
    border-bottom: 4px solid darken(#211F1F, 10%);
  }
  .contact-form{
    margin-bottom: 24px; 
  }
  .burger{
    display: block;
  }
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px, -6px);
}
.txt-type > .txt {
  border-right: 0.2rem solid #fff;
}

.contact-sec{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 24px;
}
.contact-sec h1{
  font-family: 'Poppins', sans-serif;
}

.contact-form{
  width: 350px;
  height: auto;
  text-align: center;
}

.form-title h1{
  text-align: center;
  color: black;
}

.label{
  display: block;
  margin-bottom: 24px;
  width: 100%;
  color: black;
  font-family: 'Poppins', sans-serif;
}

::-webkit-input-placeholder { text-align:center; }

.input{
  margin-right: 8px;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
  width: 100%;
  transition: all 0.2s ease-in-out;
  text-align: center;
  appearance:none;
  -webkit-appearance:none;
  font-family: 'Poppins', sans-serif;
}

.red, input{
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 320px;
  padding: 16px;
  background-color: transparent;
  text-shadow: 1px 1px 0 #fff;
}

.contact-form{
  color: #babecc;
  text-shadow: 1px 1px 1px #fff;
}

#message-box{
  height: 220px;
  width: 100%;
  margin-left: 15px;
  border-radius: 8px;
  border: none;
  overflow: hidden;
  resize: none;
  font-size: 16px;
  text-align: center;
  background-color: transparent;
  outline:0px !important;
  appearance:none;
  -webkit-appearance:none;
}


.input:focus{
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

.red{
  color: #0281e8;
  font-family: 'Advent Pro', sans-serif;
  font-weight: bold;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  width: 50%;
}

.red:hover{
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}

.red:active{
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

#email-icon, #linkedin-icon, #phone-icon, #resume{
  cursor: pointer;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
  border-radius: 50%;
  padding: 4px;
}
#email-icon:hover, #linkedin-icon:hover, #phone-icon:hover, #resume:hover{
  box-shadow: -2px -2px 5px #babecc, 2px 2px 5px #babecc;
}
#email-icon:hover{
  color: #D44638;
}
.contact-links{
  text-align: left;
  padding-top: 72px;
  margin-bottom: 24px;
}
.contact-links i{
  margin-top: 4px;
  font-size: 32px;
}
.contact-links span, a{
  font-family: 'Poppins', sans-serif;
}

.contact-links span{ 
  margin-left: 16px;
}
.contact-icon-email:hover span{
  text-decoration: underline #D44638 ;
}
/* .contact-icon-email span{

} */
#linkedin-icon:hover{
  color: #0e76a8;
}
.contact-icon-linkedin:hover span{
  text-decoration: underline #0e76a8 ;
}

#phone-icon:hover{
  color: green;
}
.contact-icon-phone:hover span{
  text-decoration: underline green ;
}
.resume-section a{
  color: black;
  margin-left: 16px;
}
#resume{
  font-size: 28px;
}
#resume:hover{
  color: #ED2224; 
}
.resume-section:hover a{
  text-decoration: underline #ED2224 ;
}

#email-icon:active, #linkedin-icon:active, #resume:active, #phone-icon:active{
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}
.proj-header{
  padding-top: 72px;
  font-family: 'Poppins', sans-serif;
}
.proj-cont{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.proj-card{
  background: white;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  cursor: pointer;
  height: 300px;
  margin: 20px;
  padding: 0 20px;
  position: relative;
  -webkit-tap-highlight-color: rgba(0,0,0,0.025);
  text-align: center;
  transition: height 1000ms;
  width: 260px;
}
@media (max-width: 767px) {
  .proj-card {
    left: calc(50% - 20px);
    transform: translateX(-50%);
  }
}
.proj-card.expanded {
  height: 470px;
}
.proj-img{
  border-radius: 10px;
  margin-top: 10px;
  transform: translateY(10px);
  transition: transform 1000ms;
}

.proj-img{
  width: 100%;
}

.proj-card.expanded .proj-img {
  transform: translateY(0);
}

.proj-img:hover {
  transform: scale(1.1);
  /* border-radius: 10px; */
}

.text1 {
  clip-path: inset(0 0 0 0);
  -webkit-clip-path:inset(0 0 0 0);
  transition: clip-path 1000ms;
}

.proj-card.expanded .text1 {
  clip-path: inset(0 0 0 0);
  -webkit-clip-path:inset(0 0 0 0);
}
.proj-content {
  transform: translateY(-160px);
  transition: transform 1000ms;
}
.proj-card.expanded .proj-content {
  transform: translateY(0px);
}
.chevron-cont{
  display: flex;
}
.chevron {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 15px);
  transform-origin: 50%;
  transform: rotate(180deg);
  transition: transform 1000ms;
}

.proj-card.expanded .chevron {
  transform: rotate(0deg);
  
}

.proj-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 20px;
}
.proj-text {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  padding: 0 10px;
}

.realtime{
  font-weight: bold;
}

.proj-btns{
  display: flex;
  flex-wrap: wrap;
}
.proj-btns button{
  font-family: 'Advent Pro', sans-serif;
  font-weight: 900;
  flex-grow: 1;
}

.c-link1{
  flex-grow: 0;
}

@keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0);
  }
  100% {
    transform: skewY(-45deg) translateX(12.5em);
  }
}
.demo-link {
  background-color: white;
  text-align: center;
  text-decoration: none;
  color: #c4302b;
  border: 2px solid #c4302b;
  display: inline-block;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
}
.demo-link:before {
  content: "";
  background-color: rgba(255,255,255,0.5);
  height: 100%;
  width: 3em;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  transform: skewX(-45deg) translateX(0);
  transition: none;
}
.demo-link:hover {
  background-color: #c4302b;
  color: #fff;
  border-bottom: 4px solid darken(#c4302b, 10%);
}

.demo-link:hover::before {
  transform: skewX(-45deg) translateX(13.5em);
  transition: all 0.5s ease-in-out;
}
.code-link {
  background-color: white;
  text-align: center;
  text-decoration: none;
  color: #211F1F;
  border: 2px solid #211F1F;
  display: inline-block;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
}
.code-link:before {
  content: "";
  background-color: rgba(255,255,255,0.5);
  height: 100%;
  width: 3em;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  transform: skewX(-45deg) translateX(0);
  transition: none;
}

.c-link1{
  max-width: 120px;
  margin-left: 70px;
}

.code-link:hover {
  background-color: #211F1F;
  color: #fff;
  border-bottom: 4px solid darken(#211F1F, 10%);
}

.code-link:hover::before {
  transform: skewX(-45deg) translateX(13.5em);
  transition: all 0.5s ease-in-out;
}

.blog-cont{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cmiddle{
  transform: translate(-50%, -50%);
  margin-bottom: 40px;
}
#avatar-front, #avatar-back{
  border: 1px solid white;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: .6s linear;
}
#avatar-front{
  transform: perspective(600px) rotateY(0deg);
}
#avatar-back{
  transform: perspective(600px) rotateY(180deg);
}

.footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  background-color: #091921;
}

.footer-sec{
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around;
}
.footer-sec i{
  margin: 16px 4px 0 4px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid white;
  color: white;
  transition: all 0.5s ease;
}
.footer-sec svg{
  margin: 16px 4px 4px 4px;
  height: 24px;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid white;
  transition: all 0.5s ease;
  padding: 4px;
}

#footer-github:hover{
  color: #0281e8;
  border: 3px solid #0281e8;
  box-shadow: 0 0 15px #0281e8;
  transition: all 0.5s ease;
}
#footer-yt:hover{
  color: #0281e8;
  border: 3px solid #0281e8;
  box-shadow: 0 0 15px #0281e8;
  transition: all 0.5s ease;
}
#footer-linkedin:hover{
  color: #0281e8;
  border: 3px solid #0281e8;
  box-shadow: 0 0 15px #0281e8;
  transition: all 0.5s ease;
}

.footer-medium:hover{
  fill: #0281e8;
  color: #0281e8;
  border: 3px solid #0281e8;
  box-shadow: 0 0 15px #0281e8;
  transition: all 0.5s ease;
}

.footer-name{
  font-family: 'Poppins', sans-serif;
  color: white;
}

.skills-header{
  padding-top: 72px;
  font-family: 'Poppins', sans-serif;
}

.skill-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-left: 15%;
  padding-right: 15%;
}

.skill-box i{
  margin-bottom: 48px;
  flex: 0 0 25%;
  font-size: 100px;
}

.skill-box svg{
  margin-bottom: 48px;
  flex: 0 0 25%;
  width: 100px;
  height: 100px;
}

.skill-box img{
  margin-bottom: 48px;
  flex: 0 0 25%;
  height: 100px;
}
.skill-box svg:hover{
  -webkit-filter: drop-shadow(2px 2px 5px #545453);
  -moz-filter: drop-shadow(2px 2px 5px #545453);
  filter: drop-shadow(2px 2px 5px #545453);
}

.skill-box img:hover{
  -webkit-filter: drop-shadow(2px 2px 5px #545453);
  -moz-filter: drop-shadow(2px 2px 5px #545453);
  filter: drop-shadow(2px 2px 5px #545453);
}

.skill-box i:hover{
  -webkit-filter: drop-shadow(2px 2px 5px #545453);
  -moz-filter: drop-shadow(2px 2px 5px #545453);
  filter: drop-shadow(2px 2px 5px #545453);
}

.svg-redux:hover .redux-icon{
  fill: #764abc;
}

.svg-sql:hover .sql-icon{
  fill: black;
}

.about-me-cont{
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}
.about-me-name{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.about-me-name img{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  height: 150px;
  border-radius: 50%;
}
.about-me-read{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  
  font-family: 'Poppins', sans-serif;
}
.txt-type{
  font-size: 36px;
}
.txt-type > .txt {
  border-right: 0.2rem solid rgba(0, 0, 0.8);
  animation: blinkTextCursor 800ms steps(40) infinite normal;
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255,255,255 .8);
  }
  to {
    border-right-color: transparent;
  }
}
.vl {
  margin-top: 116px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  border-left: 6px solid #022140;
  height: 500px;
  
}

#back-to-top{
  position: fixed;
  left: 90%;
  top: 85%;
  background-color: #091921;
  size: medium;
}
#back-to-top i{
  padding-bottom: 4px;
  font-size: 28px;
  color: #ebecf0;
}

#back-to-top:hover i{
  transform: scale(1.2)
}

.wavy {
  position: relative;
  -webkit-box-reflect: below -12px linear-gradient(
    transparent rgba(0,0,0,0.2));
}

.wavy span {
  display: inline-block;
  color: white;
  font-size: 24px;
  animation: animate 1.5s ease-in-out infinite;
  animation-delay: calc(0.1s * var(--co));
}

@keyframes animate {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-15px);
  }
  40%, 100% {
    transform: translateY(0px);
  }
}

.vscode_i{
  color: #0078d7;
}