.top {
  text-align: center;
  background-color: rgb(50, 55, 64);
  height: 100px;
}

.navbar > .active {
  border-bottom: 1px solid white;
  /* color: red; */
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
